body {
    font-family: sans-serif;
    color: #444;
    background-color: #eee;
}

.night {
    color: #444;
    background-color: #eee;
}

.container {
    height: inherit;
    display: block;
    text-align: left;
}

#nightlink, #homelink {
    display: none;
}