body {
    font-family: sans-serif;
    color: #444;
    background-color: #eee;
}

.night {
    color: #eee;
    background-color: #444;
}

.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

form, h3 {
    animation: fadeIn ease 500ms;
    text-align: center;
    font-size: 48px;
    font-weight: normal;
}

#flags a {
    text-decoration: none;
    color: inherit;
    padding: 0 0.5em;
    display: inline-block;
    font-size: 30px;
}

.pull-right {
    padding-right: 2em;
    float: right;
}

a {
    text-decoration: none;
    color: inherit;
}

#questions,
#settings {
    display: none;
    opacity: 0;
}

#finish {
    display: none;
    color: #090;
    font-size: 75px;
    text-align: center;
}

#help {
    display: none;
    opacity: 0;
    animation: fadeIn ease 1s;
    text-align: center;
    font-size: 48px;
    color: #cc0000;
    font-weight: normal;
}

#answers {
    display: none;
}

form input[type="text"],
form input[type="number"] {
    border: 0;
    outline: none;
    font-size: 48px;
    animation: fadeIn ease 1s;
    box-sizing: border-box;
    margin: 1em auto;
    width: 100%;
    text-align: center;
}

.night form input {
    background-color: inherit !important;
    color: inherit !important;
}

select {
    font-size: 36px;
}

form input[type="submit"] {
    font-size: 36px;
    border: 1px solid #099;
    border-radius: 10px;
    background-color: #099;
    color: #fff;
    padding: 2px 15px;
}

.text-medium {
    font-size: medium;
}

.padding-1 {
    padding: 1em;
}


.spaced-2x>* {
    margin-right: 1ch!important;
}